body {
            background-image: url("https://static.toiimg.com/photo/msid-105806528/105806528.jpg") ;
            background-repeat:no-repeat;
			background-attachment:fixed;
			background-size:100% 100%;
			
        }