 body {
	   background-color: black;
       font-family: Verdana, sans-serif;
       font-size: 16px;
       color: white; 
       }
	h1 {
        font-family: Georgia, serif;
        font-size: 60px;
        color: white;
       }
        .title {
           text-align: center;
           color: none;
           font-size: 2em;
           margin-top: 35px;
       }
 	